package rocks.pocha.sampleapp;

/**
 * Created by pocha on 12/07/15.
 */
public class AwsCredentials {
    public final static String AWS_ACCESS_KEY = "xxxx";
    public final static String AWS_SECRET_KEY = "xxxx";
    public final static String AWS_REGION = "us-west-2";
}
